<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>myStore</title>
<link rel="stylesheet" type="text/css" href="StoreStyle.css">

<style>
@media screen and (min-width: 1401px) {
	body {
		background-color: #0B027E;
	}	
	p {
		
		text-align: center;
		font-size:70px;
	}
	.wrapper0 {
		background-color: white;
		font-size: 40px;
		text-align: center;
		overflow: hidden;
	}
	.wrapper0>div {
		background-color: #0B027E;
	}
	.one {
		background-color: #0B027E; 
		
	}
}
@media screen and (min-width: 1024px)  {
	body {
		background-color: #0B027E;
	}	
	p {
		
		text-align: center;
		font-size:50px;
	}
	.wrapper0 {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		border-bottom: 2px solid white;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-left: 2px solid white;
		grid-gap: 2px 2px;
		font-size: 20px;
		
		text-align: center;
		overflow: hidden;
	}
	.wrapper0>div {
		background-color: #0B027E;
	}
	.one {
		background-color: #0B027E; 
		color: white;
	}
}
@media screen and (min-width: 320x) {
	body {
		background-color: #0B027E;
	}	
	p {
		
		text-align: center;
		font-size:30px;
	}
	.wrapper0 {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		border-bottom: 2px solid white;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-left: 2px solid white;
		grid-gap: 2px 2px;
		font-size: 15px;
		
		text-align: center;
		overflow: hidden;
	}
	.wrapper0>div {
		background-color: #0B027E;
	}
	.one {
		background-color: #0B027E; 
		
	}
	
}
	
	
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>My electronics store</h1>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" >
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar toggler" type="button" data bs toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expand="false" aria-label="Toggle navigation">
				<span class="navbar-togger-icon"></span>
			
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav item">
						<a class="nav-link active" aria-current="page" href="sign_up.html">sign up</a>
					</li>
					<li>
						<a class="nav-link active" aria-current="page" href="myStore.html">Home</a>
					</li>
					<li>
						<a class="nav-link active"  aria-current="page" href="products.html">products</a>
					
					</li>
					<li>
					
						<a class="nav-link active"  aria-current="page" href="about.html">about</a>
					</li>
					<li>
						<a class="nav-link active"  aria-current="page" href="contact_us.html">contact us</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	
	<p>Welcome to my store, we specialize in PCs, PC parts, and other electronic products</p>
	<h2 style="font-size: 30px;text-align:center; ">Our featured products</h2>
	<div class="wrapper">
		<div style="border-style:groove"class="two">GPUs</div>
		<div style="border-style:groove"class="two">CPUs</div>
		<div style="border-style:groove"class="two">Motherboards</div>
		<div style="border-style:groove"class="two">Fans and water cooling</div>
		<div style="border-style:groove"class="two">monitors</div>
		<div style="border-style:groove"class="two">keyboards and mice</div>
	</div>
	<h3 style="font-size:30px;text-align:center;">Our other products</h3>
	<div class="wrapper1">
		<div style="border-style:groove"class="three">PC cases</div>
		<div style="border-style:groove"class="three">prebuilt PCs</div>
		<div style="border-style:groove"class="three">gamming consoles</div>
		<div style="border-style:groove"class="three">Video games</div>
		<div style="border-style:groove"class="three">console controllers</div>
		<div style="border-style:groove"class="three">batteries</div>
	</div>
	<h4 Style="@font-size: 20px;text-align:left; ">see more on products page</h4>
</body>
</html>
